{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><span class="navicon"></span></button>
        <ul class="visible-links">
          {% if page.url contains '/en/' %}
            <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="{{ base_path }}/en/">{{ site.data.site_en.site_en.title | default: "" }}</a></li>
          {% else %}
            <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% endif %}
          {% if page.url contains '/en/' %}
            {% for link in site.data.navigation_en.main_en %}
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = base_path %}
              {% endif %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          {% else %}
            {% for link in site.data.navigation.main %}
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = base_path %}
              {% endif %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          {% endif %}
          <li id="language-toggle" class="masthead__menu-item persist tail">
            {% if page.url contains '/en/' %}
              <a href="{{ base_path }}/" aria-labelledby="language-icon">
                <span id="language-icon" class="language-text" aria-hidden="true" title="切换语言 / Switch Language">中文</span>
              </a>
            {% else %}
              <a href="{{ base_path }}/en/" aria-labelledby="language-icon">
                <span id="language-icon" class="language-text" aria-hidden="true" title="切换语言 / Switch Language">EN</span>
              </a>
            {% endif %}
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
